.first
{
  background-color: #161515;
background-image: linear-gradient(208deg, #161515 37%, #333333 53%, #212122 66%);


}
#QuestionPapers{
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);



}
#TextBooks
{
  background-color: #216cfd;
  background-image: linear-gradient(270deg, #216cfd 0%, #B721FF 100%);


}
/* .navbar-brand{
  font-family: Montserrat-Bold 700 italic;
   font-size: 2.5rem; */

/* } */
.t{
  padding: 1%;
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

#fig{
  padding-left: 10%;
}
.lapy{

  height: 100%;
  width: 100%;
  position: absolut;
}
.navbar{
/* margin-bottom: 4.5rem; */
padding: 0 0;
}
.jju{

  width: 70%;
  border-radius:700px 700px 700px 100px;
  box-shadow: 20px 20px 50px rgba(255,255,255,0.2),
  -10px -10px 50px rgba(255,255,255,0.1),
  inset -5px -10px 55px rgba(255,255,255,0.1)
}

.container-fluid{
  padding: 0% 0%;

}
.second{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 0%;
}
#CSE-NOTES{
background-color: #D3DEDC;
padding: 5% 5%;
}
.years{
  text-align: center;
  color: white;
  font-family: Ubuntu Bold 700 italic;
}
.Home-h1{
  font-family: Montserrat ;
  color: white;
/* padding-top: 5%; */

/* font-style:Extra-bold 800 ; */
/* font-weight: Extra-bold 800; */
}
.Home-h2{
  font-family: Montserrat ;
}
.Home-h3{
  font-family: Montserrat ;
  padding-top: 10%;
}
.index-btn{
  /* padding-left: %; */
}
.Home-h1{
  padding-left: 10%;
  font-color:white;
}
.row{
  padding: 10%;
}
.od-synthesis {
    /* min-height: 650px; */
  /* background: linear-gradient(180deg, black 0%, black 48.03%, black 100%); */

}

.card{
position: relative;
width: 400px;
height: 300px;
padding-left : 4%;
 padding-right: 2%;
 /* padding-bottom: 2%; */
padding-top: 10%;
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
border-radius: 10px;
box-shadow: 20px 20px 50px rgba(232, 232, 232,0.5),
-10px -10px 50px rgba(232, 232, 232,0.3),
inset -5px -5px 15px rgba(77, 5, 232,0.3)
}
.imgBX{
position: relative;
width: 100%;
border-radius: 5%;

}
.lapy{
border-radius: 300px 100px 100px 100px;
box-shadow: 20px 20px 50px rgba(105,105,105,0.7);
}
.QuestionPape{
  border-radius:300px 300px 101px 100px;
  box-shadow: 20px 20px  rgba(105,105,105,1.0);
  width: 80%;
  }


/* ........................................ */
